
label{
	font-weight: bold;
	color: var(--noir);
	}

body{
	font-family: sans-serif;
	background-image: url('../images/tips-strip-tease-reussi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn_submit {
	align-items: center;
}

 .transparent-card {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 60px;
    border-radius: 20px;
    font-weight: bold;
    width: 750px !important;
}
