body{
	font-family: sans-serif;
	background-image: url('../images/tips-strip-tease-reussi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header{
	display: flex;
    justify-content: space-between;
}

.title{
	color: blueviolet;
	text-align: center;
}

 .login {
        text-decoration: none;
        color: blueviolet;
        display: flex;
}

.login a {
    margin: 10px;
    text-decoration: none;
    color: blueviolet;
}




.submit {
	text-align: center;
}

.card {
	border: 1px solid lightgrey;
	border-radius: 20px;
	width: 600px; 
	height: 300px;
	display: flex;
	align-items: center;
}

.card img {
	width: 280px;
	height: 250px
}

.elements {
	margin: 10px;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
    padding: 20px; /* Espacement interne */
    margin: 60px;
    border-radius: 20px;
    font-weight: bold;
	}

#categorie {
	height: 30px;
	margin: 10px;
	
}

.checkbox-label {
    border: none !important;
    color: black !important;
    font-weight: bold !important;
    transition: color 0.3s ease;
}

.checkbox-label:hover {
    border: none !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    font-weight: bold !important;

}

/*.grid {
    display: contents;
}*/
