body{
	font-family: sans-serif;
	background-image: url('../images/tips-strip-tease-reussi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0.6); /* Fond semi-transparent */
    padding: 20px; /* Espacement interne */
    margin: 60px;
    border-radius: 20px;
    font-weight: bold;
	}