<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Encheres-ENI</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.utilisateur.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.utilisateur.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.utilisateur.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncheresServlet</display-name>
    <servlet-name>EncheresServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.encheres.EncheresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncheresServlet</servlet-name>
    <url-pattern>/EncheresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenteArticleServlet</display-name>
    <servlet-name>VenteArticleServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.encheres.VenteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenteArticleServlet</servlet-name>
    <url-pattern>/VenteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.utilisateur.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/UtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailVente</display-name>
    <servlet-name>DetailVente</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.encheres.DetailVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailVente</servlet-name>
    <url-pattern>/DetailVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailVenteServlet</display-name>
    <servlet-name>DetailVenteServlet</servlet-name>
    <servlet-class>fr.eni.encheres.ihm.encheres.DetailVenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailVenteServlet</servlet-name>
    <url-pattern>/DetailVenteServlet</url-pattern>
  </servlet-mapping>
</web-app>